<div class="container">
  <div class="row" style="margin-bottom: 10px;">
    <div class="col-md-12"><div class="card">
      <div class="card-header">
        <strong>Update Member</strong> #{{member?.id}}
      </div>
      <div class="card-body" [formGroup]="angForm">
        <div class="form-group">
          <label class="col-md-4">Name</label>
          <input type="text" class="form-control" #name formControlName="name"/>
        </div>

        <div class="form-group">
          <label class="col-md-4">Bio</label>
          <textarea class="form-control" rows = 3 cols = "5" #bio formControlName="bio"></textarea>
        </div>

        <div class="form-group">
          <label class="col-md-4">Age</label>
          <input type="text" class="form-control" #age formControlName="age"/>
        </div>

        <div class="form-group">
          <button type="submit" class="btn btn-primary" (click)="saveBtnClicked()">Update</button>&nbsp;
          <button class="btn btn-danger" (click)="cancelButtonClicked()">Cancel</button>
        </div>

        <div class="form-group">

        </div>
      </div>
      </div>
    </div>
  </div>
</div>

